<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top navbar-static-top">
  <div class="container">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/home" class="navbar-brand">Mr Drake's Classroom</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/about">Course Descriptions</a>
         </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {{#if adminUser}}
            <li class="nav-item">
            <a href="/lessons" class="nav-link px-5 font-weight-bold">Lesson Maintenance</a>
            </li>
          <li class="nav-item dropdown">
            <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Subject Links</a>
            <div class="dropdown-menu">
              <a href="/lessons/view/MS/1" class="dropdown-item">Marine Science S1</a>
              <a href="/lessons/view/MS/2" class="dropdown-item">Marine Science S2</a>
              <a href="/lessons/view/BIO/1" class="dropdown-item">Biology S1</a>
              <a href="/lessons/view/BIO/2" class="dropdown-item">Biology S2</a>
              <a href="/lessons/view/FORENSICS/1" class="dropdown-item">Forensics S1</a>
              <a href="/lessons/view/FORENSICS/2" class="dropdown-item">Forensics S2</a>
              <a href="/lessons/view/GEO/1" class="dropdown-item">Geology S1</a>
              <a href="/lessons/view/GEO/2" class="dropdown-item">Geology S2</a>
              <a href="/lessons/view/MB/1" class="dropdown-item">Marine Biology S1</a>
              <a href="/lessons/view/MB/2" class="dropdown-item">Marine Biology S2</a>
            </div>
          </li>
          <li class="nav-item">
           <a href="/users/studentlogout" class="nav-link">Logout</a>
          </li>
        {{else}}
          {{#if user.studentSubject}}
          <li class="nav-item dropdown">
            <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">{{studentSubjectName}}</a>
            <div class="dropdown-menu w-25">
              <a href="/lessons/view/{{user.studentSubject}}/1" class="dropdown-item">Semester 1</a>
              <a href="/lessons/view/{{user.studentSubject}}/2" class="dropdown-item">Semester 2</a>
            </div>
          </li>
          <li class="nav-item">
           <a href="/users/studentlogout" class="nav-link">Logout</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a href="/users/studentlogin" class="nav-link">Login</a>
          </li>
        {{/if}}
      {{/if}}
      </ul>
    </div>
  </div>

</nav>