{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{else}} {{/each}}
<div class="card card-body">
  <h3 class="bg-dark text-white text-center">Edit Notebook</h3>
  <form action="/lessons/{{lesson.id}}?_method=PUT" method="post">
    <input type="hidden" name=_method value="PUT">

    <div class="form-group">
      <input type="hidden" name="subject" value="{{lesson.subject}}">
      <label for="semester">Semester</label>
      <input type="number" class="form-control" name="semester" value="{{lesson.semester}}">
    </div>
    <div class="form-group">
      <label for="lessonId">Notebook # </label>
      <input type="number" class="form-control" name="lessonId" value="{{lesson.lessonId}}">
    </div>
    <div class="form-group">
      <label for="title">Notebook Title</label>
      <input type="text" class="form-control" name="title" value="{{lesson.title}}">
    </div>
    <div class="form-group">
      <label for="description">Notebook Description</label>
      <textarea class="form-control" name="description">{{lesson.description}}</textarea>
    </div>
    <!--
    <div class="form-group">
      <label for="videos">Videos</label>
      {{#if lesson.videos.length}}
        {{#each lesson.videos as |video|}}
          <div class="form-row">
            <div class="col-auto">
              <input type="text" class="form-control" name="video.title" value="{{video.title}}" placeholder="Video Title">
            </div>
            <div class="col-auto">
              <input type="text" class="form-control" name="video.link" value="{{video.link}}" placeholder="Video URL">
            </div>
          </div>      
        {{/each}}
      {{/if}}
    </div>-->
    <div class="form-group"">
    <label for="videos">Videos</label>
      {{#each lesson.videos as |video|}}
      <div id="{{@index}}" class="form-row">
        <div class="col-3">
          <input type="text" class="form-control" name="videoTitles" value="{{video.title}}" placeholder="Video Title #{{video.id}}">   
        </div>
        <div class="col">
          <input type="text" class="form-control" name="videoLinks" value="{{video.link}}" placeholder="Video URL #{{video.id}}">
        </div>
      </div>   
      {{/each}}
      <!--div class="form-row">
        <div class="col-3">
          <input type="text" class="form-control" name="videoTitle" value="{{lesson.videoTitle}}" placeholder="Video Title">
        </div>
        <div class="col">
          <input type="text" class="form-control" name="videoLink" value="{{lesson.videoLink}}" placeholder="Video URL">
        </div>
      </div-->      
    </div>
    <div class="form-group">
    <label for="career">Career</label>
      <div class="form-row">
        <div class="col-3">
          <input type="text" class="form-control" name="careerTitle" value="{{lesson.careerTitle}}" placeholder="Career Title">
        </div>
        <div class="col">
          <input type="text" class="form-control" name="careerLink" value="{{lesson.careerLink}}" placeholder="Career Link">
        </div>
      </div>
    </div>
    <div class="form-group">
    <label for="movie">Movie</label>
      <div class="form-row">
        <div class="col-3">
          <input type="text" class="form-control" name="movieTitle" value="{{lesson.movieTitle}}" placeholder="Movie Title">
        </div>
        <div class="col">
          <input type="text" class="form-control" name="movieLink" value="{{lesson.movieLink}}" placeholder="Movie Link">
        </div>
      </div>
    </div>
    <div class="form-group">
    <label for="docImage">Document and Image</label>
      <div class="form-row">
        <div class="col-3">
          <input type="text" class="form-control" name="documentLink" value="{{lesson.documentLink}}" placeholder="Optional Document Link">
        </div>
        <div class="col">
          <input type="text" class="form-control" name="image" value="{{lesson.image}}" placeholder="Optional Image">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save your changes</button>
    <a href="/lessons" class="btn btn-danger" role="button" aria-pressed="true">Cancel</a>
  </form>
</div>