<div class="container mt-5">
  <h5 class="text-center">Summary of Lessons</h5>
  <div class="table-responsive mt-3">          
  <table class="table">
    <thead>
      <tr>
        <th class="text-left">Subject</th>
        <th class="text-center">Semester</th>
        <th class="text-right"># of Lessons</th>
      </tr>
    </thead>
    {{#each lessons}}
    <tbody>
      <tr>
        <td class="text-left"><a href="/lessons/{{_id.subject}}/{{_id.semester}}">{{_id.subjectName}}</a></td>
        <td class="text-center">{{_id.semester}}</td>
        <td class="text-right">{{count}}</td>
      </tr>
    </tbody>
    {{else}}
      <div class="alert bg-info text-light text-center mt-2">
        No lessons found
      </div>
    {{/each}}
  </table>
  </div>
</div>
