<div class="dark">
  <div class="home-inner">
    <div class="container">
      <div class="col-lg-12">

        {{#each lessons}}

        <div class="card bg-info text-center card-form mt-2">
          <div class="card-body">

            <h3 class="card-title">Notebook {{lessonId}} - {{title}}</h3>
              <p class="text-md-center">{{description}}</p>
            <hr>

            <h3>Video Clip<h3>
             <a class="btn btn-danger" target="_blank" href={{videoLink}}>{{videoTitle}}</a>
 
            <div class="wrapper mt-2">
              <div class="h_iframe">
               <img class="ratio" src="http://placehold.it/16x9"/>
                 <iframe src="{{videoLink}}" allowfullscreen></iframe>
              </div>
            </div>

            <hr>

            <h3>Career</h3>
              <a class="btn btn-danger" target="_blank" href={{careerLink}}>{{careerTitle}}</a>
            <hr>
            
            <h3>Movie</h3>
              <a class="btn btn-danger" target="_blank" href={{movieLink}}>{{movieTitle}}</a>

            <div class="wrapper mt-2">
             <div class="h_iframe">
                <img class="ratio" src="http://placehold.it/16x9"/>
                <iframe src="{{movieLink}}" allowfullscreen></iframe>
              </div>
            </div>

            <p>{{documentLink}}</p>
            <p>{{image}}</p>
           </div>
        </div>

        {{else}}
        <div class="alert bg-info text-light text-center">
          There are no lessons available for {{subject}} - Semester {{semester}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>